# Environment Variable Examples
# Set these in your local project as (.env)

# Database Path
SQLALCHEMY_DATABASE_URL=sqlite:///./example.db

# Secret key for JWT
SECRET_KEY=secret_key

# Gemini API Key
GEMINI_API_KEY=gemini_api_key

# Optional Redis Cache
REDIS_URL=redis://localhost:6379/0
CACHE_TTL_SECONDS=600
